{% extends "layout.html" %}

{% block body %} 
  <h1>
    Kurssit:
  </h1>  
  <form method="POST" action="{{ url_for('courses_search') }}">
    <label for="name">Hae nimen perusteella:</label><br>  
    <input type="text" name="name"/>
    <input type="submit" value="Hae"/>
  </form>
  <table method="GET" action="{{ url_for('courses_list') }}">
    <tr>
      <th>Nimi</th>
      <th>Sisältö</th>
      <th>Ajankohta</th>
    </tr>
    {% for course in courses %}
    <tr>
      <td>{{ course.name }}</td>
      <td>{{ course.content }}</td>
      <td>{{ course.time }}</td>
      <td>
        <form method="GET" action="{{ url_for('courses_update_form', course_id=course.id) }}">
          <input type="submit" value="Päivitä"/>
        </form> 
      </td>
      <td>
        <form method="POST" action="{{ url_for('courses_delete', course_id=course.id) }}">
          <input type="submit" value="Poista"/>
        </form> 
      </td>
    </tr>
    {% endfor %}
  </table><br>
  <a href="/courses/new.html">
    <button>Lisää uusi kurssi</button>
  </a><br> 
  <a href="/users/menu.html">
    <button>Takaisin valikkoon</button>
  </a> 
{% endblock %}