{% extends "layout.html" %}

{% block body %} 
  <h1>
    Kurssit:
  </h1>  
  <table method="GET" action="{{ url_for('courses_list') }}">
    <tr>
      <th>Nimi</th>
      <th>Sisältö</th>
      <th>Ajankohta</th>
    </tr>
    {% for course in courses %}
    <tr>
      <td>{{ course.name }}</td>
      <td>{{ course.content }}</td>
      <td>{{ course.time }}</td>
      <td><a href="/courses/update.html/course_id"><button>Päivitä</button></a></td>
      <td><button>Poista</button></td>
    </tr>
    {% endfor %}
  </table><br>
  <a href="/courses/new.html">
    <button>Lisää uusi kurssi</button>
  </a><br> 
  <a href="/users/menu.html">
    <button>Takaisin valikkoon</button>
  </a> 
{% endblock %}