{% extends "layout.html" %}

{% block body %}
  <h1>
    Uusi kurssi
  </h1>
  <form method="POST" action="{{ url_for('courses_create') }}">
    <table>
      <tr>
        <td>
          {{ form.name.label }}
        </td>
        <td>
          {{ form.name }}
        </td>
      </tr>
      <tr>
        <td>
          <ul>
            {% for error in form.name.errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
        </td>
      </tr>
      <tr>
        <td>
          {{ form.content.label }}
        </td>
        <td>
          {{ form.content }}
        </td>
      </tr>
      <tr>
        <td>
          <ul>
            {% for error in form.content.errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
        </td>
      </tr>
      <tr>
        <td>
          {{ form.time.label }}
        </td>
        <td>
          {{ form.time }}
        </td>
      </tr>
      <tr>
        <td>
          <ul>
            {% for error in form.time.errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
        </td>
      </tr>
      <tr>
        <td>
          {{ form.teacher_firstname.label }}
        </td>
        <td>
          {{ form.teacher_firstname }}
        </td>
      </tr>
      <tr>
        <td>
          <ul>
            {% for error in form.teacher_firstname.errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
        </td>
      </tr>
      <tr>
        <td>
          {{ form.teacher_lastname.label }}
        </td>
        <td>
          {{ form.teacher_lastname }}
        </td>
      </tr>
      <tr>
        <td>
          <ul>
            {% for error in form.teacher_lastname.errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
        </td>
      </tr>
      <tr>
        <td>
          {{ form.completed.label }}
        </td>
        <td>
          {{ form.completed }}
        </td>
      </tr>
      <tr>
        <td>
          {{ form.planned.label }}
        </td>
        <td>
          {{ form.planned }}
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <input type="submit" value="Lisää kurssi"/>
        </td>
      </tr>
    </table>
  </form><br>
  <a href="/users/menu.html">
    <button>Takaisin valikkoon</button>
  </a>
  
{% endblock %}