{% extends "layout.html" %}

{% block body %} 
  <h1>
    Kurssisuunnitelmasi:
  </h1>
  <table method="GET" action="{{ url_for('plans_show') }}">
    <tr>
      <th>Nimi</th>
      <th>Sisältö</th>
      <th>Ajankohta</th>
      <th>Opettaja</th>
    </tr>
    {% if plans is defined %}
    {% for course in plans %}
    <tr>
      <td>{{ course.name }}</td>
      <td>{{ course.content }}</td>
      <td>{{ course.time }}</td>
      <td>{{ course.teacher_id }}</td>
    </tr>
    {% endfor %}
    {% endif %}
  </table><br>      
  <a href="/users/menu.html">
    <button>Takaisin valikkoon</button>
  </a>
{% endblock %}