{% extends "layout.html" %}

{% block body %}
  <h1>
    Rekisteröidy
  </h1>
  <form method="POST" action="{{ url_for('users_create') }}">
    <table>
      <tr>
        <td>
          {{ form.firstname.label }}
        </td>
        <td>
          {{ form.firstname }}
        </td>
      </tr>
      <tr>
        <td>
          {{ form.lastname.label }}
        </td>
        <td>
          {{ form.lastname }}
        </td>
      </tr>
      <tr>
        <td>
          {{ form.username.label }}
        </td>
        <td>
          {{ form.username }}
        </td>
      </tr>
      <tr>
        <td>
          {{ form.password.label }}
        </td>
        <td>
          {{ form.password }}
        </td>
      </tr>
      <tr>  
        <td colspan="2">
          <input type="submit" value="Rekisteröidy"/>
        </td>
      </tr>
    </table>
  </form>
  
{% endblock %}