{% extends "layout.html" %}

{% block body %}
  <h1>
    Rekisteröidy
  </h1>
  <form method= "POST" action="{{ url_for('users_create') }}">
    <label for="user">Käyttäjätunnus:</label>
    <input type="text"  name="user">
    <label for="pin">Salasana:</label><br>
    <input type="text" name="pin">
    <label for="fname">Etunimi:</label><br>
    <input type="text" name="fname">
    <label for="lname">Sukunimi:</label><br>
    <input type="text" name="lname">
    <input type="submit" value="Rekisteröidy"/>
  </form>
  
{% endblock %}