{% extends "layout.html" %}

{% block body %}
  <h1>
    Profiilisi
  </h1>
  <table method="GET" action="{{ url_for('show_profile') }}">
    <tr>
      <th>
        <h3>Nimi: {{user.firstname}}</h3>
      </th>
    </tr>
    <tr>
      <th>
        <h3>Sukunimi: {{user.lastname}}</h3>        
      </th>
    </tr>
  </table>
  <form method="POST" action="{{ url_for('delete_profile', user_id=user.id) }}">
    <input type="submit" value="Poista käyttäjä"/>
  </form> 
  <form method="GET" action="{{ url_for('update_profile', user_id=user.id) }}">
    <input type="submit" value="Päivitä käyttäjä"/>
  </form> 
  <br>
  {% if user.role_id == 2 %}
    <h3>Sinulla on Admin-oikeudet</h3>
    <p>Saat myöntää oikeudet muille käyttäjille</p>
    <p>ja tarkastella sovelluksen käyttöön liittyviä tilastoja</p>
    <form method="GET" action="{{ url_for('show_users') }}">
      <input type="submit" value="Myönnä oikeuksia"/>
    </form> 
    <form method="GET" action="{{ url_for('show_stats') }}">
      <input type="submit" value="Katsele tilastoja"/>  
    </form>
  {% endif %}
  <a href="/users/menu.html">
    <button>Takaisin valikkoon</button>
  </a>
{% endblock %}