{% extends "layout.html" %}

{% block body %}
  <h1>
    Profiilisi
  </h1>
  <table method="GET" action="{{ url_for('show_profile') }}">
    <tr>
      <th>
        <h3>Nimi: {{user.firstname}}</h3>
      </th>
    </tr>
    <tr>
      <th>
        <h3>Sukunimi: {{user.lastname}}</h3>        
      </th>
    </tr>
  </table>
  <form method="POST" action="{{ url_for('delete_profile', user_id=user.id) }}">
    <input type="submit" value="Poista käyttäjä"/>
  </form> 
  <form method="GET" action="{{ url_for('update_profile', user_id=user.id) }}">
    <input type="submit" value="Päivitä käyttäjä"/>
  </form> 
  <br>
  <h1>Rooli: {{user.role_id}}</h1>
  <a href="/users/menu.html">
    <button>Takaisin valikkoon</button>
  </a>
{% endblock %}