{% extends "layout.html" %}

{% block body %}
  <h1>
    Tilastoja sovelluksesta
  </h1>
  <table method="GET" action="{{ url_for('show_stats') }}">
    <tr>
      <p>Kurssien määrä: {{ stats[0] }}</p>
    </tr>
    <tr>
      <p>Rekisteröityneiden määrä: {{ stats[1]+stats[2] }}</p>
    </tr>
    <tr>
      <p>...joista tavallisia käyttäjiä: {{ stats[1] }}</p>
    </tr>
    <tr>
      <p>...ja admin-tasoisia käyttäjiä: {{ stats[2] }}</p>
    </tr>
    <tr>
      <p>Käyttäjiä, jotka ovat lisänneet vähintään yhden kurssin: {{ stats[3] }}</p>
    </tr>
    <tr>
      <p>Suurin osallistujamäärä yhdellä kurssilla: {{ stats[4] }}</p>
    </tr>
    <tr>
      <p>Sinulla on yhteensä {{ stats[5] }} kpl suoritettuja kursseja</p>
    </tr>
    <tr>
      <p>Valitsemiasi kursseja opettaa {{ stats[6] }} eri opettajaa</p>
    </tr>
  </table>
  <a href="/users/profile.html">
    <button>Takaisin</button>
  </a>
{% endblock %}