{% extends "layout.html" %}

{% block body %}
  <h1>
    Käyttäjät ilman Admin-oikeuksia
  </h1>
  <table method="GET" action="{{ url_for('show_users') }}">
    {% if users is defined %}
    {% for user in users %}
    <tr>
      <td>{{ user.firstname }} {{ user.lastname }}</td>
      {% if user.role_id == 1 %}
      <td>
        <form method="POST" action="{{ url_for('make_admin', user_id=user.id) }}">
          <input type="submit" value="Myönnä oikeudet"/>
        </form>
      </td>
      {% endif %}
    </tr>
    {% endfor %}
    {% endif %}
  </table>
  <a href="/users/profile.html">
    <button>Takaisin</button>
  </a>
{% endblock %}